<!--users_controllerでのみ使える-->

<h2>User info</h2>
<p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg' %></p> <!--5章をよく読む-->
<table class="table">
 <tobody>
  <tr></tr>
  <tr>
   <th>name</th>
   <th><%= user.name %></th>
  </tr>
  <tr>
  <th>introduction</th>
  <th><%= user.introduction %></th>
  </tr>
  </tobody>
</table>
<div class="col-4">
<!--< if user.id == current_user.id %>-->
 <%= link_to edit_user_path(user.id), class: "btn btn-default btn btn-outline-secondary", :typ=>"botton;", :style=>"width:100px; color:gray;" do %>
 <i class="fas fa-user-cog"></i>
 <% end %>
<!--< else %>
 <= link_to user_path(current_user.id), class: "btn btn-default btn btn-outline-secondary", :typ=>"botton;", :style=>"width:100px; color:gray;" do %>
 <i class="fas fa-user-cog"></i>
 < end %>-->
 <!--< end %>-->
 </div>
